.container {
  display: flex;
  justify-content: center;
  
  .page-li{
    list-style: none;
    margin: 0 5px;
    padding: 0 5px;
    cursor: pointer;
  }
  .page-a, .next-a, .previous-a {
    &:focus {
      outline: none;
    }
  }
  .previous-li {
    list-style: none;
    cursor: pointer;
    margin: 0 15px 0 0;
  }
  .next-li {
    list-style: none;
    cursor: pointer;
    margin: 0 0 0 15px;
  }
  .active {
    background-color: red;
  }
}

.library {
  display: flex;
}
.library-search {
  width: 15%;
}
input,
label {
  width: 100%;
}
.item-serach {
  width: 100%;
}
.filter-name {
  color: #150502;
}

.wrap-books {
  display: flex;
  margin: 30px;
  .main-filters {
    width: 30%;
  }
  .books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    .books-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .book {
      display: flex;
      flex-direction: column;
      width: 25%;
      margin: 20px;
      align-content: center;
      align-items: center;
      text-align: center;
    }
    .book-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img {
      width: 100%;
    }
  }
}
h3, .title {
  font-family: fantasy;
}
.title {
  color: black;
}
.book-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 50%;
}
  #react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}
