.error {
    color: red;
}
.navbar {
    justify-content: flex-start;
} 

.column-width {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.edit-books {
    textarea {
        min-height: 150px;
    }
}